<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="songbookEntities" connectionString="metadata=res://*/DBSongbookModel.csdl|res://*/DBSongbookModel.ssdl|res://*/DBSongbookModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=song;password=book;Persist Security Info=True;database=songbook;Character Set=utf8&quot;" providerName="System.Data.EntityClient" />
    <add name="songbookEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=song;Persist Security Info=True;database=songbook;Character Set=utf8&quot;" providerName="System.Data.EntityClient" />
    <add name="songbookEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=song;password=book;Persist Security Info=True;database=songbook;Character Set=utf8&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>